<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28294461993-7m7ulnefq6jaeasv74nrgeoufu60v8gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28294461993-7m7ulnefq6jaeasv74nrgeoufu60v8gn</string>
	<key>API_KEY</key>
	<string>AIzaSyBDpIzmC0iushCYmixfZ9gawffusy3l-Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>28294461993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macsemantics.mercury</string>
	<key>PROJECT_ID</key>
	<string>mercury-3e53e</string>
	<key>STORAGE_BUCKET</key>
	<string>mercury-3e53e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28294461993:ios:5ba0a8d3665ac3f34f3a38</string>
</dict>
</plist>